.styles_baseCell__IMZ_3{width:80px;height:80px;display:inline-flex;justify-content:center;align-items:center}.styles_clickableCell__1qZ-O{width:60px;height:60px;margin:10px}.styles_inactiveClickableCell__8HwdF{background-color:#000}.styles_activeClickableCell__37b2E{background-color:#ff0}
/*# sourceMappingURL=main.7e0d0ee5.chunk.css.map */